/* Navigation bar */
header {
  /* width: 100%; */
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
  background-color:rgb(2, 28, 69);
  color: #fff;
}
header .logo {
  font-weight: 700;
  font-size: 20px;
  color: var(--logo-color);
}

header nav ul {
  width: 600px;
  display: flex;
  padding: 10px 0;
  justify-content: space-around;
  align-items: center;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: var(--nav-color);
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  position: relative;
}

header nav ul li a::after {
  content: "";
  width: 0%;
  height: 3px;
  transition: 0.3s ease-in;
  background-color: red;
  position: absolute;
  left: 0;
  top: 28px;
}

header nav ul li a:hover::after {
  width: 100%;
}
nav .fa-solid {
  display: none;
}

.logo-img img{
  width: 150px;
}

@media screen and (max-width: 900px) {
  header .logo {
      font-size: 16px;
      font-weight: 600;
  }

  /*----- hamburger------ */
  nav .fa-solid {
      display: block;
      font-size: 25px;
      position: absolute;
      top: 25px;
      right: 25px;
      cursor: pointer;
  }

  nav ul>.fa-solid {
      top: 25px;
      right: 155px;
  }

  /* hamburger */
  header nav ul {
      background-color: inherit;
      position: fixed;
      top: 0;
      right: -250px;
      flex-direction: column;
      justify-content: start;
      width: 250px;
      height: 100vh;
      gap: 25px;
      padding-top: 80px;
      z-index: 2;
      color: #fff;
      background-color:rgb(2, 28, 69);
      transition: right 0.3s ease-in;
  }

  header nav ul li a {
      color: #fff;
  }
}

